annotated-types==0.6.0
greenlet==3.0.3
psycopg2-binary==2.9.9
pydantic-core==2.18.2
pydantic-settings==2.2.1
pydantic==2.7.1
python-dotenv==1.0.1
pyyaml==6.0.1
sqlalchemy-utils==0.41.2
sqlalchemy==2.0.30
typing-extensions==4.11.0
